body {
    background-color: rgba(60, 112, 114, 0.953);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);

}

button {
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    cursor: pointer;
    margin: 20px;

}

.card img {
    width: 250px;
    border-radius: 12px;
}

.card {
    display: flex;
    gap: 20px;
    background-color: rgb(236, 198, 149);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px;
    max-width: 800px;
    width: 60%;
}

.nav button:hover {
    background-color: rgb(245, 218, 160);
    transform: translateY(-2px);
}